<!DOCTYPE html>
<html>
<head>
    <title>Bookings</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Bookings</h1>
        <table>
            <thead>
                <tr>
                    <th>Pet</th>
                    <th>Check-in</th>
                    <th>Check-out</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in bookings %}
                    <tr>
                        <td><a href="{% url 'booking_detail' booking.id %}">{{ booking.pet.name }}</a></td>
                        <td>{{ booking.check_in }}</td>
                        <td>{{ booking.check_out }}</td>
                        <td>
                            <a href="{% url 'delete_booking' booking.id %}" class="delete-button">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>