<!DOCTYPE html>
<html>
<head>
    <title>Clients</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Clients</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Pets</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                    <tr>
                        <td><a href="{% url 'client_detail' client.id %}">{{ client.name }}</a></td>
                        <td>{{ client.email }}</td>
                        <td>{{ client.phone }}</td>
                        <td>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Breed</th>
                                        <th>Age</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for pet in client.pet_set.all %}
                                        <tr>
                                            <td>{{ pet.name }}</td>
                                            <td>{{ pet.breed }}</td>
                                            <td>{{ pet.age }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                        <td>
                            <a href="{% url 'delete_client' client.id %}" class="delete-button">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>